---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>TailwindCSS Animations</h1>
    <h2>The plugin that you need</h2>
  </main>
</Layout>

<style></style>
